/* end Instructions */


/* FOOTER */
.footer {
    background-color:#5a5a94;
}

.footer > div:nth-child(1), .footer > div:nth-child(2) {
    padding-left:80px; padding-right:80px;
}

.white-line {
    background:rgba(255,255,255, 0.1);
    padding:10px;
    font-size:14pt;
}

.socials {
    margin:0px; padding:0px;
}

.socials > li {
    margin:0px 10px 0px 0px; padding:0px;
}

.socials > li:first-child {
    opacity: 0.5;
    font-weight:bolder;
}

.socials > li > a > img {
    width:35px;
    transition: 1.5s;
}

.socials > li > a > img:hover {
    box-shadow: 0px 0px 10px 0px #f3bff1;
    transition: 0.5s;
}

.footer-menu {
    padding:0px; margin:0px; list-style-type: none; -moz-list-style-type: none; position:relative; z-index:100;
}

.footer-menu > li > a:link {
    color: #a5a5c1;
}

.footer-menu > li > a:hover {
    color: #fff;
}

.footer-menu > li > a:active {
    color: #fff;
}

.footer-menu > li > a:visited {
    color: #a5a5c1;
}

.footer-menu > li {
    padding:0px;
}

.corner-right-footer {
    background-image: url('../imagesi/right-corner.png');
    position:absolute;
    bottom:0px; right:0px;
    width:989px; height:291px;
}

ul.footer-menu-politic {
    opacity:0.6;
}

ul.footer-menu-politic li > a:link{
    color: #fff;
}

ul.footer-menu-politic li > a:visited{
    color: #fff;
}

/* end FOOTER */