html, body {
    font-size: 12pt;
    font-family:Arial;
    background-color: #fff;

}

a:link {
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
}

a:visited {
    transition: 0.5s;
}

a:active {
    transition: 0.5s;
}

.badge {
    background-color: #fff;
    color:#50508e;
    border-radius:5px !important;
}

/** Menu Style **/
.top-menu {
    max-width:1280px;
    height:70px;
    padding-top:10px;
    background-color: #fff;
    box-shadow:0px 0px 3px 0px #c8c8c8;
    opacity:0.93;
}

.logotype {
    width:200px; transition: 0.5s;
    position:absolute;
    top:3px; left:30px;
}
.logotype:hover {
    width:215px; transition: 1s;
}


.navbar-header {
    background-color: #fff !important;
}

.left-corner {
    position:absolute; left:0px; top:0px;
    opacity:0.6;
}

.navbar-nav {
    background-color: #fff;
}

.icon-bar {
    border: 1px solid #6c6c6c !important;
}

.navbar-nav > li > a:link {
    color:#66668f !important;
}

.navbar-nav > li > a:hover {
    color:#9393b8 !important;
}

.navbar-nav > li > a:visited {
    color:#66668f !important;
}


.navbar-nav > li:last-child > a:link {
    color:#ababb7 !important;
}

.navbar-nav > li:last-child  > a:hover {
    color:#8a8a93 !important;
}

.navbar-nav > li:last-child  > a:visited {
    color:#ababb7 !important;
}
/** end-Menu Style **/

/*.service-menu {*/
    /*max-width:1280px;*/
    /*background-color: #50508e;*/
/*}*/

.main-block {
    max-width:1280px;
    box-shadow:0px 0px 15px 0px #c8c8c8;
    overflow:hidden;
    background-color: #e8e8e8;
}

/*.left-corner {*/
    /*position:absolute;*/
    /*top:0px; left:0px;*/
    /*height:50px;*/
/*}*/

/*.icon-bar {*/
    /*border:1px solid #6c6c6c !important;*/
/*}*/

/*.navbar-brand {*/
    /*position:relative; z-index:100; margin-left: 30px;*/
/*}*/

/*.navbar-brand:link{*/
    /*color: #fff !important;*/
    /*text-decoration: none;*/
/*}*/

/*.navbar-brand:hover{*/
    /*color: #9e9ed8 !important;*/
    /*text-decoration: none;*/
/*}*/

/*.navbar-nav > li > a:link {*/
     /*color: #fff !important;*/
     /*text-decoration: none;*/
 /*}*/

/*.navbar-nav > li:last-child > a:link {*/
    /*opacity:0.5;*/
    /*padding-left:50px;*/
/*}*/

/*.navbar-nav > li > a:hover {*/
    /*color: #9e9ed8 !important;*/
    /*text-decoration: none;*/
/*}*/

/*.navbar-nav > li > a:active {*/
    /*color: #fff !important;*/
    /*text-decoration: none;*/
/*}*/

/*.navbar-nav > li > a:visited {*/
    /*color: #fff !important;*/
    /*text-decoration: none;*/
/*}*/

.user-header {
    background-color: #50508e;
    margin-top:70px;
    min-height:170px;
}

.user-photo {
    max-width:140px;
    position: absolute;
    top: 15px;
    border-radius: 8px;
    border: 5px solid #fff;
}

.user-info-block {
    padding-top:20px;
}

.user-status {
    padding-top:35px;
}

.user-status > div{
    padding:5px;
    color: #50508e;
    background:rgba(255,255,255, 0.6);
    border-radius: 5px;
}
.user-status > div > h4:last-child{
    font-size:11pt;
    opacity:0.6;
}

div.user-navigation {
    margin-top:30px;
}

.user-navigation > ul {
    position:relative;
    bottom:-10px; left:-150px;
    text-transform: uppercase;
}

.user-navigation > ul > li > a:link {
     color: #fff !important;
     opacity:0.4;
}

.user-navigation > ul > li.active {
    border-bottom:3px solid #fff;
}

.user-navigation > ul > li > a:link.active {
    color: #fff;
    font-weight: bolder;
    opacity:1.0;
}

.user-navigation > ul > li > a:hover {
    color: #fff;
    opacity:1.0;
    text-decoration: none;
}
.user-navigation > ul > li > a:visited {
    color: #fff;
    opacity:1.0;
    text-decoration: none;
}

.user-name, .user-city {
    color: #fff;
}
/* tiles */

.left-container > div {
    padding-top:10px;
    padding-bottom:10px;
}

.right-container > div {
    background: rgba(255,255,255,0.1);
    box-shadow: 0px 5px 10px 0px #c8c8c8;
}

.tile-base {
    padding:5px;
}

.tile {
    transition:1s;
}

.tile:hover {
    transition:0.5s;
    box-shadow:0px 0px 10px 0px #50508e;
}

.tile-user-activity {
}

.tile-user-activity > div {
    background-color:#2d75b8;
    text-transform: uppercase;
    margin:5px;
    padding-bottom:1px;
}

.tile-user-activity > div > div:first-child {
    font-weight:bolder;
    font-size:10pt;
    color:#fff;
    padding:10px;
    background:rgba(255,255,255,0.1);
}

.tile-user-activity > div > section {
    font-size:10pt;
    width:100%;
    margin-top:42px; margin-bottom:40px;
}

.tile-user-activity > div > section > div:nth-child(1) > img {
    width:40px;
    vertical-align: middle;
}

.tile-user-activity > div > section > div:nth-child(1) {
    float:left;
    width:20%;
    padding-left:7px;
}
.tile-user-activity > div > section > div:nth-child(2) {
    float:left;
    width:70%;
    padding-top:8px;
    padding-left:5px;
}

.tile-user-activity > div > section > div:nth-child(3) {
    float:right;
    width:10%;
    padding-top:8px;
}

.tile-user-activity > div > section > div > a:link {
    color: #fff;
}

.tile-user-activity > div > section > div > a:hover {
    color: #fff;
    opacity:0.6;
    text-decoration:none;
}

.tile-user-activity > div > section > div > a:visited {
    color: #fff;
}

.tile-devices {
}

.tile-devices > a > div {
    background-color: #2db6b8;
    text-align: center;
    margin:5px;
    text-transform: uppercase;
    color:#fff;
    padding-top:20px;
    padding-bottom:15px;
}

.tile-devices >  a > div > div {
    padding-top:10px;
    font-weight:bolder;
    text-decoration: none;
}

.tile-devices >  a:hover {
    text-decoration: none;
}

.tile-news {
}

.tile-news > div {
    background-color: #0db13d;
    margin:5px;
    width:98%;
    text-align: center;
}

.tile-news > div > div:nth-child(1) {
    float:left;
    width:30%;
}

.tile-news > div > div:nth-child(2) {
    float:left;
    width:70%;
}

ul.news-list {
    list-style-type: none;
    margin-top:20px;
}

ul.news-list li > a:link {
    color:#fff;
}

ul.news-list li > a:hover {
    opacity:0.5;
}

ul.news-list li > a:visited {
    color:#fff;
}

.tile-blogs > a > div {
    background-color: #e56e47;
    text-align: center;
    margin:5px;
    text-transform: uppercase;
    color:#fff;
    padding-top:20px;
    padding-bottom:15px;
}

.tile-blogs >  a > div > div {
    padding-top:10px;
    font-weight:bolder;
    text-decoration: none;
}

.tile-users > a > div {
    background-color: #50508e;
    text-align: center;
    margin:5px;
    text-transform: uppercase;
    color:#fff;
    padding-top:20px;
    padding-bottom:15px;
}

.tile-users >  a > div > div {
    padding-top:10px;
    font-weight:bolder;
    text-decoration: none;
}

.tile-wiki > div {
    background-color: #b82d5b;
    margin:5px;
    padding-top:26px;
    padding-bottom: 20px;
}

.tile-wiki > div > a > div > span {
    font-size:14pt;
}

.tile-wiki > div > a:link {
    color:#fff;
}

.tile-wiki > div > a:hover {
    opacity:0.6;
}

.tile-wiki > div > a:visited {
    color:#fff;
}

.tile-settings > a > div {
    background-color: #919191;
    text-align: center;
    margin:5px;
    text-transform: uppercase;
    color:#fff;
    padding-top:20px;
    padding-bottom:15px;
}

.tile-settings >  a > div > div {
    padding-top:10px;
    font-weight:bolder;
    text-decoration: none;
}

.tile-faq > div {
    background-color: #767676;
    text-align: center;
    margin:5px;
    color:#fff;
    padding-top:20px;
    padding-bottom:15px;
    overflow: hidden;
}

.tile-faq  > div > span:nth-child(1) {
    position:relative;
    top:-15px; right:-36%;
    z-index:100;
}

.tile-faq  > div > div:nth-child(2) {
    font-size:19pt; font-weight:bolder;
    padding-bottom:16px;
    text-transform: uppercase;

}

.tile-support > a > div {
    background-color: #6c6c6c;
    text-align: center;
    margin:5px;
    text-transform: uppercase;
    color:#fff;
    padding-top:20px;
    padding-bottom:15px;
}
.tile-support >  a > div > div {
    padding-top:10px;
    font-weight:bolder;
    text-decoration: none;
}

.tile-support >  a:link > div > div, .tile-support >  a:link > div > img {
    color:#fff;
    transition: 1.0s;
}

.tile-support >  a:hover > div > div, .tile-support >  a:hover > div > img {
    opacity:0.6;
    transition: 0.5s;
    text-decoration: none;
}




.right-container > div {
    margin-bottom:30px;
}

ul.follow-list {
    list-style-type: none;
    padding:0px; margin:0px;
    padding-bottom:10px;
}

ul.follow-list li {
    padding-top:10px; padding-bottom:10px; border-bottom:2px solid #cecece;
}

/*ul.follow-list li > div:nth-child(1) {*/
    /*width:35%; float:left;*/
/*}*/

/*ul.follow-list li > div:nth-child(2) {*/
    /*width:65%; float:left;*/
/*}*/

ul.follow-list li > div:nth-child(1) > img {
    width:80px; border-radius:5px; border:5px solid #fff;
}

ul.follow-list li > div:nth-child(2) > span {
    font-size:10pt;
}

.follow-container > div:last-child {
    font-size:10pt;
    padding-bottom:10px;
}

ul.topic-list {
    list-style-type: none;
    padding:0px; margin:0px;
    padding-bottom:10px;
}

.topic-container > div:last-child {
    font-size:10pt;
    padding-bottom:10px;
}


/* FOOTER */
.footer {
    background-color:#5a5a94;
}

.footer > div:nth-child(1), .footer > div:nth-child(2) {
    padding-left:80px; padding-right:80px;
}

.white-line {
    background:rgba(255,255,255, 0.1);
    padding:10px;
    font-size:14pt;
}

.socials {
    margin:0px; padding:0px;
}

.socials > li {
    margin:0px 10px 0px 0px; padding:0px;
}

.socials > li:first-child {
    opacity: 0.5;
    font-weight:bolder;
}

.socials > li > a > img {
    width:35px;
    transition: 1.5s;
}

.socials > li > a > img:hover {
    box-shadow: 0px 0px 10px 0px #f3bff1;
    transition: 0.5s;
}

.footer-menu {
    padding:0px; margin:0px; list-style-type: none; -moz-list-style-type: none; position:relative; z-index:100;
}

.footer-menu > li > a:link {
    color: #a5a5c1;
}

.footer-menu > li > a:hover {
    color: #fff;
}

.footer-menu > li > a:active {
    color: #fff;
}

.footer-menu > li > a:visited {
    color: #a5a5c1;
}

.footer-menu > li {
    padding:0px;
}

.corner-right-footer {
    background-image: url('../imagesi/right-corner.png');
    position:absolute;
    bottom:0px; right:0px;
    width:989px; height:291px;
}


ul.footer-menu-politic > li > a:link {
    color:#fff;
    opacity: 0.6;
}
ul.footer-menu-politic > li > a:hover {
    color:#fff;
    opacity: 1.0;
}

/* end FOOTER */