.wiki-header {
    margin-top:45px;
    background-color: #ebe3ed;
    padding:20px;
}

ul.navigation-wiki {
    padding:0px; margin:0px;
    list-style-type: none;
    text-align: left;
}

ul.navigation-wiki li {
    padding:10px;
}

.interesting-articles > ul {
    padding:0px; margin:0px;
    border:1px solid #c9c9c9;
    border-radius:5px;
    list-style-type: none;
}

.interesting-articles > ul li {
    margin:0px auto;
    border-bottom:1px solid #c9c9c9;
    transition:1.0s;
}

.interesting-articles > ul li:hover {
    background-color: #c9c9c9;
    transition:0.5s;
}

.interesting-articles > ul li > a {
    width:100%;
    display: block;
    padding:10px;
}

.article-list > div > ul  {
    list-style-type: none;
    margin:0px; padding:0px;
}

.article-list > div > ul li {
    width:100%;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #c9c9c9;
    border-radius:5px;
}

.article-list > div > ul li > div:nth-child(1) {
    float:left;
    width:90px;
}

.article-list > div > ul li > div:nth-child(1) > img {
    width:80px;
}

.article-list > div > ul li > div:nth-child(2) {
    float:left;
}

.article-topics {
    padding:5px;
    margin-top:10px;
}

.article-topics > span {
    border-radius:5px;
    background-color: #5a5a94;
    padding:5px; margin-right:5px;
    color: #fff;
}