html, body {
    margin:0px; padding:0px;
    font-size:12pt;
    font-family:Arial;
    background-color: #d6d6d6;
}


a:link {
    transition: 0.5s !important;
}

a:hover {
    transition: 0.5s !important;
    text-decoration: none !important;
}




/** Block styles **/

.main-block {
    max-width:1280px;
    box-shadow:0px 0px 15px 0px #c8c8c8;
    overflow:hidden;
    background-color: #fff;
}

/* GetStarted block */
.get-started {
    padding: 30px;
    margin-top:70px;
    background-color: #e7e5f6;
    position:relative;
    overflow: hidden;
}

.get-started > h4 {
    margin-bottom:40px;
}

.get-started-btn {
    padding-top:10px; font-size:14pt; font-weight:bolder;
}

.hand-tablet {
    max-width:200px;
    position:absolute;
    right: 20px;
    bottom:0px;
}
/* GetStarted block */

/* What is Block */

.what-is {
    padding-bottom:10px;
}
.what-is > div:nth-child(2) > p {
    max-width:600px;
    margin:0px auto;
}
.text-right > p:first-child {
    border-bottom:3px solid #50508d;
    padding-bottom:10px;
}
/* end What is block */

/* Biomedis Online Icons */
.biomedis-online-icons {
    background-color: #50508d;
    overflow: hidden;
}

.icon-items > div {
    margin-top:40px;
}

.icon-items > div > div {
    width:200px; margin:0px auto; color:#fff; text-align: center; font-size:14pt;
}

.icon-items > div > div > p {
    margin-top:15px;
}


/* end Biomedis Online Icons */

/* Connect block */
.connect-block {
    overflow:hidden;
}

.notebook-man {
    position:absolute;
    left:30px;
    top:70px;
}

.running-girl{
    position:absolute;
    right:30px;
    top:0px;
}

.text-block-connect {
    color: #878787;
    font-size:13pt;
}

.text-block-connect > p {
    padding:5px; background:rgba(255,255,255, 0.8);
}

/* end Connect block */

/* get started two */
.get-started-two {
    background: url('../imagesi/getstarted2.jpg') center;
    height:440px;
}
/* end get started two */

/* Instructions */

.instructions > div {
    border-bottom:1px solid #d8d8d8;
    padding:15px;
}

.instructions > div:nth-child(2) > div:first-child, .instructions > div:nth-child(3) > div:first-child {
    padding-top:10%;
    font-size:14pt;
    color: #878787;
}

.instructions > div:nth-child(4) >  div:last-child, .instructions > div:nth-child(5) > div:last-child, .instructions > div:nth-child(6) > div:last-child {
    padding-top:10%;
    font-size:14pt;
    color: #878787;
}

.instructions > div:nth-child(2) >  div:last-child , .instructions > div:nth-child(3) > div:last-child  {
    max-width:500px; margin:0px auto;
}

.instructions > div:nth-child(4) > div:first-child, .instructions > div:nth-child(5) > div:first-child, .instructions > div:nth-child(6) > div:first-child {
    max-width:500px; margin:0px auto;
}

.video-block {
    margin-bottom: 50px;
}

.video-block > div {
    background: url("../imagesi/steps/video.png") no-repeat center;
    padding-top:45px; padding-left:5px;
    width: 100%; height:318px;
}


/** end Block styles **/



/** Services **/

/*login*/
.login-container {
}

.login-window {
    max-width:700px;
    margin:0px auto;
    padding:20px;
    background:rgba(255,255,255,0.1);
}

.login-group {
    padding-right:10%; padding-left:10%;
}

.back-home {
    position:fixed;
    top:10px; left:10px;
    width:90px; font-weight:bolder;z-index:10;
}
/*end login*/

/** end Services **/