.main-block {
    background: url('../imagesi/registration/bg-reg.jpg') no-repeat top center;
    max-width:1280px;
    overflow:auto;
}

.reg-main-block {
    margin-top:70px;
}

.reg-main-block > div > h2 {
    text-transform: uppercase;
    margin-bottom:0px;
}


.reg-main-block > div > h3 {
    margin:0px;
}

.reg-container > div > div {
    max-width:850px;
    position:relative;
    margin:0px auto;
    margin-top:160px;
    margin-bottom:100px;
    background:rgba(255,255,255,0.7);
    border-radius: 8px;
    padding:10px 30px 10px 30px;
}

.reg-container > div > div > img.woman{
    position:absolute;
    top:-200px;
    right:30px;
    height:200px;
    z-index:9;
}

.registration-form > section {
    text-align: center;
    border-bottom:2px solid #cecece;
    padding-top:10px; padding-bottom:10px;
}

/*.registration-form > section:nth-child(1) > div.form-inline > input.form-control{*/
    /*width:42%;*/
/*}*/

div.message {
    display:none;
    padding-top:15px;
    font-size:15pt;
    color: #67679a;

}

.invisible {
    display:none;
}

.error {
    border:1px solid #ec1616 !important;
}

.success {
    border:1px solid #3dba30 !important;
}

